parameters:
	level: 5
	paths:
		- weather-block.php
		- includes/
	excludePaths:
		- build/
		- node_modules/
		- vendor/
		- tests/
	bootstrapFiles:
		- phpstan-bootstrap.php
	ignoreErrors:
		# WordPress-specific type issues that are expected in WordPress plugins
		- '#Method.*has invalid return type.*WP_Error#'
		- '#should return.*but returns WP_Error#'
		- '#is_wp_error.*will always evaluate to false#'
		- '#Call to method get_error_message\(\) on an unknown class.*WP_Error#'
		- '#Parameter.*of function wp_die expects.*int given#'
